@model IEnumerable<WebBook.Models.Book>

@{
    ViewBag.Title = "Book List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>List Ngôn Tình</h2>
<table cellpadding="12" border="1">
    <thead>
        <tr>
            <th>
                Title
            </th>
            <th>
                Author
            </th>
            <th>
                Image Cover
            </th>
            <th>
                Edit
            </th>
            <th>
                Delete
            </th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                <img src="@item.ImageCover" width="95" title="cover"/>
            </td>
            <td>
                <a href="/Book/EditBook/@item.Id" title="Edit Book">Edit</a>
            </td>
            <td>
                <a href="/Book/DeleteBook/@item.Id" title="Delete Book">Delete</a>
            </td>
        </tr>
    }
</table>
